<nav class="navbar navbar-custom navbar-expand-sm bg-dark ">
  
    <div class="container">
        <a class="navbar-brand" style="color:rgb(184, 224, 36);font-family:Comic Sans MS;font-size:26px;" id="id_home" href="{% url 'appgps:all' %}"> Tourist Attractions in Lisbon 🏖️ 🏝️ 🏞️ 🏰</a>
        <!-- Links -->
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" style="color:rgb(13, 214, 154);font-family:Arial, Helvetica, sans-serif;font-size:20px;" id="id_addnew" href="{% url 'appgps:addnew' %}">
                    Add
                </a>
            </li>
        </ul>
    </div>
</nav>